<div class="max-w-[1280px] flex flex-col justify-center items-center">
    <input 
        type="text" 
        placeholder="Ingrese tarea" 
        class="w-3/4 p-2 text-xl text-center border-2 rounded-md mt-14 border-slate-200 bg-white/30"
        [(ngModel)]="nameTask"
        (keyup.enter)="addTask()"
    >

    <div class="w-3/4 py-5 mt-10 rounded-md bg-white/30"
         *ngIf="listTask.length === 0"
    >
        <p class="text-2xl text-center">No hay tareas!</p>
    </div>

    <ul class="w-3/4 mt-10 space-y-1 text-2xl text-white list-inside max-w-3/4">
        <li class="flex items-center justify-between w-full p-3 text-black bg-white/40"
            *ngFor="let task of listTask; let i = index"
        >
            <button>
                <svg class="w-5 h-5 mr-1.5 text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            </button>
            
            <span> {{task.name}} </span>

            <button (click)="deleteTask(i)">
                <svg class="w-5 h-5 mr-1.5 text-red-400 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
            </button>              
        </li>
       <!--  <li class="flex items-center">
            <svg class="w-5 h-5 mr-1.5 text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            At least one lowercase character
        </li>
        <li class="flex items-center">
            <svg class="w-5 h-5 mr-1.5 text-red-600 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
            At least one special character, e.g., ! @ # ?
        </li> -->
    </ul>
</div>