<div class="max-w-[1280px] flex flex-col justify-center items-center">
    <input 
        type="text" 
        placeholder="Ingrese tarea" 
        class="w-3/4 p-2 text-xl text-center border-2 rounded-md mt-14 border-slate-200 bg-white/30"
        [(ngModel)]="nameTask"
        (keyup.enter)="addTask()"
    >

    <div class="w-3/4 py-5 mt-10 rounded-md bg-white/30"
         *ngIf="listTask.length === 0"
    >
        <p class="text-2xl text-center">No hay tareas!</p>
    </div>

    <ul class="w-3/4 mt-10 space-y-1 text-2xl text-white list-inside max-w-3/4">
        <li class="flex items-center justify-between w-full p-3 text-black bg-white/40"
            *ngFor="let task of listTask; let i = index"
        >
            <button (click)="completeTask(task, i)">
                <svg *ngIf="!task.status" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                </svg>
                
                <svg *ngIf="task.status" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" fill="#ABFEA9" />
                    <path d="M9 12l2 2l4 -4" />
                  </svg>
            </button>
            
            <span [ngClass]="task.status ? 'line-through' : '' "> {{task.name}} </span>

            <button (click)="deleteTask(i)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e53737" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
            </button>              
        </li>
    </ul>
</div>